<div class="archive-list">
    <ul class="archive">
        <% var currentYear = null; %>
        <% site.posts.sort('date', -1).each(function (post) { %>
            <% if (post.tags.length === 0) { %>
                <% if (date(post.date, "YYYY") !== currentYear) { %>
                    <h2><%= date(post.date, "YYYY") %></h2>
                    <% currentYear = date(post.date, "YYYY")%>
                <% } %>
                <li>
                    <span class="archive-date"><%= date(post.date, "YYYY.MM.DD") %></span>
                    <div class="archive-main">
                        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                    </div>
                </li>
            <% } %>
        <% }) %>
    </ul>
</div>