<div class="post-main">

    <% if (is_post()) { %>
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
            &nbsp;&nbsp;
            <span id="busuanzi_container_page_pv">
                <i class="iconfont icon-eye" aria-hidden="true"></i><span id="busuanzi_value_page_pv"></span>次
            </span>
        </div>
    <% } %>

    <div class="post-md">
        <%- page.content %>
    </div>
    <% if (is_post() && page.comments) {%>
        <script src="https://giscus.app/client.js"
        data-repo="abingcbc/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNDAwMzIxNjM="
        data-category="Announcements"
        data-category-id="DIC_kwDOFER6o84CSqoE"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
    <% } %>

</div>

<link rel="stylesheet" href="//at.alicdn.com/t/font_1749284_ba1fz6golrf.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1736178_kmeydafke9r.css">