<div class="post-main">

    <% if (is_post()) { %>
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
            <span id="busuanzi_container_page_pv">
                <i class="iconfont icon-xxx" aria-hidden="true">::before</i><span id="busuanzi_value_page_pv"></span>次
            </span>
        </div>
    <% } %>

    <div class="post-md">
        <%- page.content %>
    </div>

    <% if (is_post()) {%>
        <div id="gitalk" style="width: 100%"></div>
    <% } %>

</div>

<link rel="stylesheet" href="./iconfont.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    if (document.getElementById("gitalk")) {
        if (!window.__gitalk) window.__gitalk = new Gitalk({
            owner: 'abingcbc',
            repo: 'blog-comments',
            clientID: '225e0f79fd64ca42f501',
            clientSecret: 'e89fabf7e34f6646cf659179f7cd7943da170ce4',
            admin: ['abingcbc'],
            id: location.pathname
        });
        Object.assign(__gitalk, {
            id: decodeURIComponent(location.pathname),
            title: document.title,
            link: location.href,
        });
        __gitalk.render('gitalk');
    }
</script>